// Variables

$container-width: 1200px;
$container-padding: 30px;
$section-padding: 60px;

$header-height: 100vh;
$sections-height: 70vh;

$primary-color: darken(#4de783, 10%);
$secondary-color: #4de783;
$background-color: #fafafa;
$text-color: #333;
$link-color: #7F7F7F;

$font-xl: 40px;
$font-md: 32px;
$font-smd: 28px;
$font-sm: 20px;
$font-xs: 16px;

$primary-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$secondary-font-family: 'Abril Fatface', cursive;

$breakpoint-sm: 768px;


// Mixin

@mixin container($padding) {
  max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: $font-sm;
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: $primary-color;
  }
}

h1 {
  font-family: $secondary-font-family;
  font-size: $font-xl;
  font-weight: 400;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: $font-md;
  }
}

h2 {
  font-family: $secondary-font-family;
  font-size: $font-md;
  font-weight: 400;
  margin-top: 0;
}

input {
  display: block;
  margin: 0;
  min-width: 0;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  padding: 16px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
	background: #fff;
  margin-right: 20px;
}
input:focus {
  outline: none;
  border: solid 1px $secondary-color;
  -webkit-box-shadow: 0 0 1px 1px $secondary-color;
  -moz-box-shadow: 0 0 1px 1px $secondary-color;
  box-shadow: 0 0 1px 1px $secondary-color;
}
input[type="email"] {
  width: 40vw;
}

// Shared

.button {
  display: inline-block;
  border: 3px solid $text-color;
  padding: 12px 22px;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: $text-color;
  }
}

.button-empty {
  display: inline-block;
  border: 3px solid rgba(255,255,255,0);
  padding: 12px 22px;
}


.accent {
  color: $primary-color;
}


// Components & pages

.navigation {

  position: fixed;
  width: 100vw;
  background-color: rgba(255,255,255,0.9);
  border-bottom: 1px solid lighten($link-color, 40%);
  z-index: 100;

  &__container {
    @include container($container-padding);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  &__branding {
      display: flex;
      align-items: center;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }


  &__logo {
    margin-right: 10px;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  &__logo-mobile {
    @media screen and (min-width: $breakpoint-sm) {
      display: none;
    }
  }

  &__logo-img {
    padding-top: 7px;
    height: 40px;
    width: auto;
  }

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;
  }

}

.page {

  @include container($container-padding);
  margin-top: 60px;

  &__header {
    padding: 0 $container-padding;
  }


  &__content {
    padding: 0 $container-padding;
  }
}

.blog {
  @include container($container-padding);
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.post {

  @include container($container-padding);
  margin-top: 80px;


  &__container {
    padding: 0 $container-padding;
  }

  &__meta {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten($link-color, 40%);
  }

}


.footer {
  padding: 30px 0;

  &__container {
    @include container($container-padding);
    color: $link-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    display: inline-block;
    margin-left: 10px;
  }

}
