.header {

  @include container($container-padding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: $header-height;

  &__text {
    width:50%;
    padding-left: 30px;

    @media screen and (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }

  &__headline {
    margin-top: 0;
  }

  &__illustration {
    width:50%;

    @media screen and (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    min-height: 0;
    min-width: 0;
  }
}

.trees {
  &__illustration {
    background-image: url('/assets/images/photos/forest.jpg');
  }
}

.organic {
  &__illustration {
    background-image: url('/assets/images/photos/cotton.jpg');
  }
}

.minimalist {
  &__illustration {
    background-image: url('/assets/images/photos/minimalist.jpg');
  }
}

.showcase {
  @include container($container-padding);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: $sections-height;
  padding: $section-padding;

  @media screen and (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}

.product {
  width: 30%;
  padding: $container-padding;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
  }

  &__image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    min-height: 0;
    min-width: 0;
  }

  &__legend {
    font-family: $secondary-font-family;
    font-size: $font-smd;
    margin-bottom: 30px;
  }
}

.newsletter {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: $sections-height;

  &__title {
    text-align: center;
    padding: $section-padding;
  }
}


.feature {

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column-reverse;
    }
  }

  &__row-inversed {
    @media screen and (max-width: $breakpoint-sm) {
      flex-direction: column;
    }
  }

  &__title {

  }

  &__text {
    width:50%;
    min-height: $sections-height;
    background-color: $background-color;
    padding: $section-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: $breakpoint-sm) {
      width: 70%;
      padding: $container-padding;
    }
  }

  &__illustration {
    width:50%;
    padding: $section-padding;
    min-height: $sections-height;
    background-size: cover;

    @media screen and (max-width: $breakpoint-sm) {
      width: 70%;
      padding: $container-padding;
      min-height: $sections-height/2;
    }
  }

  &__description {

  }
}


.mailchimp {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
