---
layout: default
---

<header class="header">
  <div class="header__text">
    <h1 class="header__headline">{% t home.header.headline %}</h1>
    <a href="{% t home.header.link %}" class="button">{% t home.header.call_to_action %}</a>
  </div>
  <div class="header__illustration">
    <img class="header__image" src="{% t home.header.tshirt %}" alt="{% t home.header.alt %}">
  </div>
</header>

<section class="trees feature__row">
  <div class="feature__illustration trees__illustration">
  </div>
  <div class="feature__text">
    <h2 class="feature__title">{% t home.trees.title %}</h2>
    <p class="feature__description">{% t home.trees.description %}</p>
  </div>
</section>

<section class="organic feature__row feature__row-inversed">
  <div class="feature__text">
    <h2 class="feature__title">{% t home.organic.title %}</h2>
    <p class="feature__description">{% t home.organic.description %}</p>
  </div>
  <div class="feature__illustration organic__illustration">
  </div>
</section>

<section class="minimalist feature__row">
  <div class="feature__illustration minimalist__illustration">
  </div>
  <div class="feature__text">
    <h2 class="feature__title">{% t home.minimalist.title %}</h2>
    <p class="feature__description">{% t home.minimalist.description %}</p>
  </div>
</section>

<section class="showcase" id="tshirts">
  {% for product in site.translations[site.lang].home.showcase.products %}
    <div class="product">
      <img class="product__image" src="{{ product.image }}" alt="{{ product.name }}">
      <legend class="product__legend">{{ product.name }}</legend>
      <a class="button" href="{{ product.url }}">{% t home.showcase.button %}</a>
    </div>
  {% endfor %}
</section>
<div class="showcase__all">
  <a href="https://typster.teemill.com/" class="showcase__button">{% t home.showcase.button_all %}</a>
</div>


<section class="newsletter">
  <h2 class="newsletter__title">{% t home.newsletter.title %}</h2>
  {% include mailchimp.html %}
</section>
